ul.article
{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	/*-webkit-padding-start: 40px;*/
	font-size: 12px;
	font-family: arial,\5b8b\4f53,sans-serif;
}

li {
display: list-item;
text-align: -webkit-match-parent;
}

.article-item {
position: relative;
font-size: 12px;
padding: 20px 10px;
border-bottom: #F2F2F2 1px solid;
width: 688px;
color: #666;
}

.clearfix {
zoom: 1;
}

.clearfix:after {
content: '\20';
display: block;
height: 0;
clear: both;
}

.article-top {
font-size: 12px;
line-height: 16px;
color:#BBB;
}

.wordwrap {
word-break: break-all;
word-wrap: break-word;
}

.article-title {
font-size: large;;
line-height: 28px;
overflow: hidden;
}

.article-body {
line-height: 20px;
padding-bottom: 10px;
}

.article-info {
line-height: 18px;
color: #CCC;
margin-top:10px;
}